# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\MDudjak\Dropbox\Doktorski studij\Disertacija\OS-Doprinos\Experiment\IWSSIP19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
